@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600;800;900&display=swap');

$primary: var(--primary);
$secondary: var(--secondary);
$bg-primary: var(--bg-primary);
$text: var(--text);

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary: #1c706c;
    --secondary: #61FFD0;
    --bg-primary: #323d46;
    --text: #f1f1f1;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

html {
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
}

body {
    background-color: $bg-primary;
    color: $text;
}

a,
a:focus {
    color: $text;
    text-decoration: none;
}

button {
    cursor: pointer;
    color: $text;
    border: none;
}

@for $i from 1 through 6 {
    h#{$i} {
        font-size: 1rem + .5 * (6 - $i);
        margin: 0;
    }
}

.container {
    margin: 0 5rem;
}

#msg_box {
    background-color: $primary;
    color: $secondary;
    border: 2px solid $secondary;
    border-radius: .25rem;
    padding: 1rem;
    width: 75%;

    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;

    &.show {
        visibility: visible;
        animation: fadeinMobile 0.5s, fadeoutMobile 0.5s 4.5s;
    }

    @media (min-width: 720px) {
        top: 5rem;
        right: 2rem;
        left: initial;
        transform: translateX(0);
        width: 25%;

        &.show {
            visibility: visible;
            animation: fadein 0.5s, fadeout 0.5s 4.5s;
        }
    }
}

@keyframes fadeinMobile {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 1rem;
        opacity: 1;
    }
}

@keyframes fadeoutMobile {
    from {
        top: 1rem;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 5rem;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        top: 5rem;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}